.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(229, 95, 95);
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.date{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color: brown;
}
